section(class='x-section section--banner', id='banner')

  div(class='banner')
    h2(class='banner__title') Star Wars Dashboard
    p(class='banner__text') Search your favorite pearson

    input(type='text', class='field', placeholder='Insert the id of your character and press enter')

    ul(class='banner__result')
      h3(class='banner__result__title') Suggestion
      li(class='banner__result__item')
        svg: use(xlink:href="assets/images/svg/icons.svg#refresh")
        div(class='result-item')
