// =========================================
// Animations ------------------------------

  // -------------------------------------
  // Slide to Left
  @keyframes slideRight {
    0% {
      right: 0px;
      visibility: hidden;
      opacity: 0;
    }
    100% {
      right: -175px;
      visibility: visible;
      opacity: 1;
    }
  }
