.navigation {
  position: relative;
  background-color: c-white;
  box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.05);
  padding: 20px;

  &.is-expanded {
    width: 10%;
  }

  +el('logo') {
    display: block;
    height: 40px;

    background-image: url('../images/logo.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;

    cursor: pointer;
  }

  +el('list') {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    +el('item') {
      margin: 20px 0px 0px;

      .menu-item {
        cursor: pointer;

        font-weight: 700;

        border-radius: 5px;
        border: 3px solid c-blue;

        background-color: c-white;
        color: c-blue;
        transition: t-default;

        svg {
          display: block;
          width: 40px;
          height: 40px;

          padding: 10px;

          background-color: transparent;
          fill: c-blue;
        }

        &:hover {
          background-color: c-blue;
          color: c-white;
          svg {
            fill: c-white;
          }
        }
        &.is-active {
          background-color: c-blue;
          color: c-white;
          svg {
            fill: c-white;
          }
        }
      }
    }
  }

  +el('mode') {
    position: absolute;
    transform: translateX(-50%);

    border: 4px solid #4d4d4d;
    border-radius: 5px;
    cursor: pointer;

    svg {
      display: block;
      padding: 4px;

      background-color: #4d4d4d;
      fill: c-white;
    }
  }

  +el('expand') {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    border: 4px solid c-blue;
    border-radius: 5px;
    cursor: pointer;

    svg {
      display: block;
      width: 40px;
      height: 40px;

      padding: 10px;

      background-color: c-blue;
      fill: c-white;
    }
  }

  @media only screen and (min-width: 320px) {
    grid(100%)
    height: 75px;
    padding: 16px;

    +el('logo') {
      width: 75px;
    }
    +el('mode') {
      top: 14px;
      left: 90%;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    width: 5%;
    height: 100vh;
    padding: 5px;

    +el('logo') {
      width: 100%;
    }
    +el('mode') {
      top: 90px;
      left: 50%;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
  @media only screen and (min-width: 1280px) {
    padding: 20px;
    +el('mode') {
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
