// =========================================
// Mixins ----------------------------------

  // ------------------------------
  // Clearfix mixin
  // Use example within your class, call clearfix() to fix float
  clearfix()
    clear both
    &:before
      content ''
      display block
    &:after
      content ''
      display table
      clear both

  // ------------------------------
  // BEM CSS mixins
  // Use example: within your class, call +el('NameOfYourElement'), +mod('NameOfYourModifier')
  el(element)
    &__{element}
      {block}

  mod(modifier)
    &--{modifier}
      {block}

  // ------------------------------
  // Grid system
  // Use example: within your class, call grid() with the desired width
  // OBS: Inside the 'variables.styl' file, there are values of the column widths
  grid(value){
    display: inline-block;
    width: value;
    float: left;
  }

  // ------------------------------
  // Custom scroll bar
  // Use example: within your class, call customScrollBar() with your custom params
  customScrollBar(containerSize, borderRadius, trackColor, thumbColor)
    &::-webkit-scrollbar {
      width: containerSize;
    }
    &::-webkit-scrollbar-track {
      border-radius: borderRadius;
      background-color: trackColor;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: borderRadius;
      background-color: thumbColor;
      outline: 1px solid thumbColor;
    }
