.banner {


  +el('title') {
    color: c-blue;
  }
  +el('text') {
    color: c-text;
    margin-bottom: 25px;
  }
  +el('result') {
    margin-top: 50px;
    +el('title') {
      color: c-blue;
    }
    +el('item') {
      margin: 10px 0px;
      border: 1px solid c-blue;
      border-radius: 5px;
      padding: 30px 20px;
      svg {
        display: block;
        width: 50px;
        height: 0px;
        margin: 0px auto;
        fill: c-blue;

        opacity: 0;
        visibility: hidden;
        transform-origin: 50%;

        transition: t-default;
      }
      &.is-searching {
        opacity: 1;
        visibility: visible;

        svg {
          height: 50px;
          opacity: 1;
          visibility: visible;
          animation: rotation 1s infinite linear;
        }

        .result-item {
          height: 0px;
          opacity: 0;
          visibility: hidden;
        }
      }
      .result-item {
        position: relative;
        opacity: 1;
        visibility: visible;
        transition: t-default;
        +el('name') {
          color: c-blue;
          padding-bottom: 10px;
        }
        +el('infos') {
          display: flex;
          flex-flow: column;
          +el('item') {
            flex: 1 50%;
            font-weight: 500;
            span {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 320px) {
    grid(100%)
  }
  @media only screen and (min-width: 1024px) {
    width: 40%;
  }
}
