nav(class='navigation')

  i(class='navigation__logo', title='Home')

  ul(class='navigation__list')
    li(class='navigation__list__item')
      div(class='menu-item') 1
    li(class='navigation__list__item')
      div(class='menu-item') 2
    li(class='navigation__list__item')
      div(class='menu-item') 3
    li(class='navigation__list__item')
      div(class='menu-item') 4

  i(class='navigation__mode', title='Dark Side Mode')
    svg: use(xlink:href="assets/images/svg/icons.svg#darthvader")

  i(class='navigation__expand', title='Expand')
    svg: use(xlink:href="assets/images/svg/icons.svg#arrow")
