nav(class='navigation')

  i(class='navigation__logo', title='Home')

  ul(class='navigation__list')
    li(class='navigation__list__item')
      div(class='menu-item', title='Search pearson')
        svg: use(xlink:href="assets/images/svg/icons.svg#search")
    li(class='navigation__list__item')
      div(class='menu-item', title='Favorites list')
        svg: use(xlink:href="assets/images/svg/icons.svg#heart")

  i(class='navigation__mode', title='Dark Side Mode')
    svg: use(xlink:href="assets/images/svg/icons.svg#darthvader")

  i(class='navigation__expand', title='Expand')
    svg: use(xlink:href="assets/images/svg/icons.svg#arrow")
